.album{
    background: url(steambackground.jpg)no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

.return {
    padding: 0.5em;
    background-color: aliceblue;
    width: fit-content;
    text-decoration: none;
    transition: 1s;
    color: black;
  
}
.return:hover {
    background-color: rgb(181, 149, 189);
    color: white;
    transition: 1s;
}
footer a {
text-decoration: none;
color: black;
}
.audio {
    background-color: aliceblue;
    padding: 0.1em;
}